#header {
    width: 100%;
    background-color: black;
    height: 58px;
    display: block;
    position: relative;
    margin-bottom: 3em;
}

#header h1 {
    color: white;
    font-size: 26px;
    line-height: 58px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0em;
    left: 62px;
}

#navigation-container {
    position: absolute;
    width: 200px;
    right: 10px;
    top: 0;
    height: 58px;
}

#navigation-container button {
    width: 58px;
    position: absolute;
    background-color: black;
    border-radius: 0;
    border-style: none;
    height: 58px;
    color: white;
}

#navigation-container #navigation-button-back {
    right: 58px;
}
#navigation-container #navigation-button-help {
    right: 0px;
}

#header img {
    position: absolute;
    height: 32px;
    left: 15px;
    top: 13px;
}