p {
    font-size: 1.5em;
    margin-bottom: 40px;
}

span {
    color: rgba(40, 105, 245);
    text-decoration: underline;
    cursor: pointer;
}

#gate-toggle-button {
    position: absolute;
    bottom: -48px;
    right: -40px;
    z-index: 100;
    width: 40px;
    height: 48px;
    line-height: 44px;
    cursor: pointer;
}

#gate-toggle-button::after {
    content: "";
    display: block;
    height: 48px;
    width: 40px;
    background-image: url("icons/openmoji-svg-color/eye-slash.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.show-fav-gates #gate-toggle-button::after {
    content: url("icons/openmoji-svg-color/eye.svg");
}


