#view-welcome h3 {
    font-size: 2em;
}

#view-welcome h4, #view-welcome h5 {
    font-size: 1.7em;
    margin-bottom: 1em;
}

#view-welcome .card {
    padding: 10px 10px 30px 10px;
    margin: 2px;
    background-color: rgba(244, 244, 244);
    height: 180px; /*calc(100% - 4px);*/
    border-radius: 0;
    border-width: 0;
    position: relative;
    cursor: pointer;
}

#view-welcome p {
    font-size: 1.3em;
}

#view-welcome span.arrow {
    color: rgba(40, 105, 245);
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 1.5em;
}

#view-welcome .mt-4 {
    margin-top: 20px;
}