[Desktop Entry]
Version=1.1
Name=Jupyter for Qoffee-Maker	
Comment=Start/Stop Jupyter Notebook for Qoffee-Maker Demo
Icon=/home/pi/Qoffee-Maker/icons/QuoffeeMug_vector-s128.png
Type=Application
Categories=Demos;
Exec=/home/pi/Qoffee-Maker/demos/Qoffee-jupyter.sh
Terminal=true
