# replace "ABCDEF" with your correct token

### Simulator
#HOMECONNECT_API_URL=https://simulator.home-connect.com
#HOMECONNECT_CLIENT_ID=ABCDEF
#HOMECONNECT_CLIENT_SECRET=ABCDEF

### Real Device
HOMECONNECT_API_URL=https://api.home-connect.com
HOMECONNECT_CLIENT_ID=ABCDEF
HOMECONNECT_CLIENT_SECRET=ABCDEF

HOMECONNECT_REDIRECT_URL=http://localhost:8887/auth/callback

DEVICE_HAID=

IBMQ_API_KEY=ABCDEF
