/* remove header */
body.app-mode > #header {
	display: none !important;
}
/* remove background */
body.app-mode.notebook_app {
	background-color: white;
}
/* make full width */
body.app-mode #site {
	max-width: 100vw;
	overflow-x: hidden;
}
body.app-mode #notebook {
	padding: 0;
}
/* remove shadow and make full width */
body.app-mode #notebook-container {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
}
/* hide all cells... */
body.app-mode div.cell {
	display: none;
}
/* remove borders of selected cells */
body.app-mode div.cell.selected {
	border-width: 0;
}
body.app-mode div.cell.selected::before {
	display: none;
}
/* ...except for app-view */
body.app-mode div.cell.app-view {
	display: block;
	width: 100%;
	margin-left: 0;
	height: auto;
	padding: 0;
}
/* hide input area of cells */
body.app-mode div.cell .input, body.app-mode div.cell .out_prompt_overlay, body.app-mode div.cell .output_area .prompt {
    display: none;
}
/* remove padding and and hide scroll bars */
body.app-mode .app-view .output > .output_area > .output_subarea {
    padding: 0 !important;
	overflow: hidden;
}
/* give content some padding, needs to be added manually */
body.app-mode .app-view-content {
	padding: 0 50px 0 50px;
}
/* make appbox (main box of app) full width */
body.app-mode .app-appbox > .widget-vbox {
	width: 100%;
}

/* some utility classes */
.width-100 {
	width: 100%;
}
.width-80 {
	width: 80%;
}
.width-60 {
	width: 60%;
}
.width-40 {
	width: 40%;
}
.width-20 {
	width: 20%;
}
.width-0 {
	width: 0%;
}


/* Hide checkbox for composer */
.composer-workarea > div.duo--Checkbox-wrapper {
	display: none;
}

/* dont show scrollbar */
body.app-mode .p-Widget {
	overflow: visible !important;
}

/* Restart button and restart overlay */
#restart-button-container {
	display: none;
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 9998;
}
body.app-mode #restart-button-container {
	display: block;
}
#restart-overlay {
	background-color: rgba(0, 0, 0, 0.8); 
	z-index: 9999; 
	padding: 20px; 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100vw; 
	height: 100vh;
}
#restart-overlay h1 {
	color: white;
	font-size: 40px;
}

/* QR-Code Container */
#qrcode-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: none;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.7);
    z-index: 3000;
}
#qrcode-container.active {
	display: flex;
}
#qrcode-container #qrcode {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex: 0 0 auto;
}
#qrcode-container #qrcode img {
	flex: 0 0 auto;
	max-width: 60vw;
	max-height: 60vh;
	border-color: white;
	border-style: solid;
	border-width: 20px;
}
#qrcode-container a {
	text-align: center;
}