body.app-mode > #header {
	display: none !important;
}

body.app-mode.notebook_app {
	background-color: white;
}

body.app-mode #site {
	max-width: 100vw;
	overflow-x: hidden;
}

body.app-mode #notebook-container {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	overflow-x: hidden;
	overflow-y: hidden;
}

/* Hide all cells */
body.app-mode div.cell {
	display: none;
}

/* Show only app-view cells, but without height and shifted to left */
body.app-mode div.cell.app-view {
	display: block;
	width: 100%;
	margin-left: 120%;
	height: 0;
}
/* give active cell a height and shift to normal */
body.app-mode div.cell.app-view.active {
	margin-left: 0;
	height: auto;
}

/* hide input area of cell */
body.app-mode div.cell .input, body.app-mode div.cell .out_prompt_overlay, body.app-mode div.cell .output_area .prompt {
    display: none;
}